<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="mybatisGeneratorModelSuffix" value="Bean" />
        <option name="tempFilePath" value="/var/folders/sd/h6gn7rwn7ljdh90shml1y7p00000gp/T/startLearnGo-darwin-10.6-amd64.dylib4962501760090549471" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>